.modal-header {
  border-bottom: 1px solid $medium-gray;
  padding: 20px;
  text-align: center;
  display: block !important;

  &.no-border-header {
    border-bottom: 0 none !important;
    & .modal-title {
      margin-top: 20px;
    }
  }
  button.close {
    &:focus {
      outline: none;
    }
  }
}
.modal-dialog {
  &.modal-sm,
  &.modal-register {
    .modal-header {
      button.close {
        margin-top: 0;
      }
    }
  }
}

.modal-content {
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
  .modal-header {
    h6 {
      margin-top: 10px;
    }
  }
}

.modal-dialog {
  padding-top: 60px;
}
.modal-body {
  padding: 20px 50px;
  color: #000;
}

.modal-body.assessment {
  margin-top: 20%;
  margin-bottom: auto;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    margin-top: 10%;
    height: 420px;
  }

  &.mbti {
    margin-top: 35%;

    @media (min-width: 768px) {
      margin-top: 100px;
      height: 280px;
    }
  }
}
.modal-footer {
  border-top: 1px solid $medium-gray;
  padding: 0px;

  &.no-border-footer {
    border-top: 0 none;
  }
}
.modal-footer .left-side,
.modal-footer .right-side {
  display: inline-block;
  text-align: center;
  width: 49%;
}
.modal-footer .btn-link {
  padding: 20px;
  width: 100%;
}
.modal-footer .divider {
  background-color: $medium-gray;
  display: inline-block;
  float: inherit;
  height: 63px;
  margin: 0px -3px;
  // position: absolute;
  width: 1px;
}

.modal-register .modal-footer {
  text-align: center;
  margin-bottom: 25px;
  padding: 20px 0 15px;
  span {
    width: 100%;
  }
}
.modal-header:after {
  display: table;
  content: " ";
}
.modal-header:before {
  display: table;
  content: " ";
}

.modal-overlay-message {
  position: absolute;
  top: 40px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
